.categories_form{
    background-color: beige;
    display: flex;
    justify-content: space-around;
    width: 95%;
    box-shadow: 10px 3px 10px rgb(67, 65, 65);
    margin-bottom: 40px;

}
.categories_input{
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    height: 40px;
    text-align:center;
    width: 100%;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
 margin-top: 20px;

  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }